.side-menu {
  height: 100%;
  width: 250px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
  background: $brand-dark url("/img/mac.png");
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;

  &.collapsed {
    margin-left: -250px;

    .inner {
      .toggle-menu {
        right: 15px;

        > i {
          &:before {
            content: "\f0fe"
          }
        }
      }
    }
  }

  .inner {
    .logo {
      margin-top: 40px;
      margin-bottom: 20px;

      > img {
        max-width: 160px;
        display: block;
        margin: auto;
      }
    }

    .toggle-menu {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 25px;
      color: $white;
      opacity: .7;
      cursor: pointer;
      @include transition(all, 0.1s);
    }

    .links {
      display: flex;
      @include flexbox();
      @include flex-direction(column);

      > a {
        padding: 0 10px;
        font-size: 15px;
        font-weight: 600;
        color: $white;
        text-decoration: none;
        background-size: 150%;
        background-position: left;
        height: 50px;
        margin-bottom: 5px;
        @include transition(all, 0.1s);
        @include flexbox();
        @include align-items(center);

        &.active {
          background: $brand-primary-gradient;
          background-position: center;
        }

        &:hover {
          background: $brand-primary;
        }

        > i {
          margin-right: 10px;
        }
      }
    }
  }

}

