// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// colors
$brand-primary: #f5bf45;
$brand-secondary: #da5d45;
$brand-dark: #18173f;
$white: #fff;
